






.homepage-navbar{
    
    height: 9em;
    padding:2%;
    /* background-image:radial-gradient(bisque,linen); 
    background-image:radial-gradient(rgb(155, 201, 238), rgb(251, 245, 240));*/
    /*background-image:radial-gradient(rgb(166, 180, 221), rgb(251, 245, 240));*/
    background-image:radial-gradient(rgb(62, 161, 185), rgb(251, 245, 240));
}

.content-border{
    
    border:solid white;
    border-radius: 3em;
    border-left-style: unset;
    border-right-style: unset;
}

.homepage-navbar-content{
   
    display:flex;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    height:3%;
    justify-content: space-evenly;
    /*color: #1a52eb;*/
    color:#063b48;
    font-size: 1.4em;
    border-top: solid whites;
    border-bottom: solid 1px #32859b;
    margin: 1em;
    background-color: white;
    opacity: .7;
}



 .logo{
    border-bottom: .1em solid #32859b;
  
 }

 
 .homepage-background{
    height: 200em;
    width: 100%;
    background-image:url('../images/swirl-lite-4k.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

 }


 
 .explanation-section{
    
    margin:auto;
    height: 8em;
    width: 50%;
    text-align: center;

    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 2.2%;
    opacity: .7;
    border-radius: 15%;
    margin-top:3em;
 }





 .pick-design{

 }

 .drag-your-choice{


 }

 .we-make-it{
    
 }

 .homepage-designBoard{
    width:30em; 
    height:30em;
    margin:auto;
    margin-top: 6em;
 }