*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Warp';
}

body
{
    overflow: hidden;
}

/* main container start */
.main
{
    display: flex;
    flex-direction: column;
    background-color: #EEE9DA;
    padding: 10px 0px 30px;
}

/* header text */
.text
{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.text h3 
{
    display: flex;
    font-size: 22px;
    font-weight: 500;
    color: rgba(27, 25, 25, 0.7);
}

/* horizontal line */
.line
{
    width: 100%;
    height: 3px;
    background-color: rgba(176, 174, 174, 0.295);
    margin: 5px 0 10px;
}

/* ring and box */
.ring-circle-box
{
    display: flex;
    justify-content: space-between;
    margin: 0 120px 30px 70px;
}

.ring-box 
{
    margin-right: 60px;
}

.ring-circle-box .txt-box img, .ring-circle-box .circle-box img
{
    margin-right: 5px;
}

.ring-circle-box .ring-box img 
{
    margin-right: 7px;
}

/* center of body */
.body-center
{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
}

/* left side images */
.body-center .left
{
    flex: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 241, 216);
    height: 400px;
    padding-right: 30px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.body-center .left::-webkit-scrollbar, .body-center .right::-webkit-scrollbar
{
    width: 5px;
}

.body-center .left .lft-img
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-center .left .lft-img div 
{  display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.body-center .left .lft-img img
{
    width: 100%;

}

.body-center .left .lft-img div .lftImg-1{width: 70%;}
.body-center .left .lft-img div .lftImg-2{width: 80%;}
.body-center .left .lft-img div .lftImg-3{width: 50%;}
.body-center .left .lft-img div .lftImg-4{width: 96%;}
.body-center .left .lft-img div .lftImg-5{width: 86%;}
.body-center .left .lft-img div .lftImg-6{width: 90%;}

/* middle image */
.body-center .middle
{ 
    display: flex;
    flex: 50%;
    height: 500px;
    position: relative;
}

.body-center .middle img 
{
    width: 100%;
    height: 100%;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
#chainContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 15%;
}
.body-center #chain
{
    width: 65%;
    height: 65%;
    box-shadow: none;
    
}

/* right side images */
.body-center .right
{
    flex: 25%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    background-color: rgb(254, 241, 216);
    height: 400px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.body-center .right h3 
{
    font-family: 'Great Vibes', cursive;
    font-size: 34px;
    margin: 30px 0 30px 20px;
}

.body-center .right .rgt-img
{
    display: flex;
    width: 100%;
}

.body-center .right .rgt-img img
{
    width: 33.3%;
}

.mobile{display: none;}

/* 1280px screen */
@media(max-width:1280px)
{
    #chainContainer{padding-top: 17%;}
}

/* 1080px screen */
@media(max-width:1080px)
{
    #chainContainer{padding-top: 19%;}
}

/* 1024px screen */
@media(max-width:1024px)
{
    #chainContainer{padding-top: 20%;}
    .text{padding: 0 15px;}
    .text h3{font-size: 18px;}
    .ring-circle-box {margin: 0 55px 30px 20px;}
    .ring-box {margin-right: 40px;}
    .body-center .right, .body-center .left{padding-right: 0px;}
}

/* 900px screen */
@media(max-width:900px)
{
    .ring-circle-box .txt-box img, .ring-circle-box .circle-box img
 {
     margin-right: 3px;
     width: 40px;
     height: 40px;
 }

    .ring-circle-box .ring-box img
 {
     margin-right: 5px;
     width: 40px;
     height: 40px;
 }

    .ring-circle-box {margin: 0 80px 30px 20px;}
    .ring-box {margin-right: 10px;}
    .body-center .left{flex: 20%;height: 300px;}
    .body-center .left .lft-img{justify-content: space-evenly;}
    .body-center .left .lft-img div{width:70px;height:70px;}
    .body-center .left .lft-img div .lftImg-1{width: 65%;}
    .body-center .left .lft-img div .lftImg-2{width: 75%;}
    .body-center .left .lft-img div .lftImg-3{width: 45%;}
    .body-center .left .lft-img div .lftImg-4{width: 90%;}
    .body-center .left .lft-img div .lftImg-5{width: 80%;}
    .body-center .left .lft-img div .lftImg-6{width: 85%;}
    .body-center .middle{flex: 60%;height: 400px;}
    #chainContainer{padding-top: 15%;}
    .body-center .right{flex: 20%;height: 300px;}
    .body-center .right h3 
  {
     font-size: 28px;
     margin: 30px 0 30px 0px;
     text-align: center;
  }

    .body-center .right .rgt-img
  {
     display: flex;
     justify-content: space-evenly;
  }
    .body-center .right .rgt-img img{width: 30%;}

}

/* 800px screen */
@media(max-width:800px)
{
    #chainContainer{padding-top: 17%;}
    .body-center .right h3{font-size: 26px;}
}

/* tab size */
@media(max-width:768px)
{
    .text {padding: 0 5px;}
    .text h3{font-size: 16px;}
    .ring-circle-box{margin: 0 50px 30px 10px;}
    .ring-box {margin-right: 0px;}
    .body-center {gap: 5px;padding: 0 5px;}
    .body-center .right h3{font-size: 24px;margin: 15px 0;}
    .body-center .left .lft-img div{width:50px;height:50px;}
    .body-center .middle {height: 350px;}
    #chainContainer{padding-top: 15%;}
    .body-center .right, .body-center .left {height: 270px;}
}

/* 668px mobile size */
@media(max-width:668px)
{   
    .body-center .right h3{font-size: 22px;}
    .ring-circle-box{margin: 0 10px 30px 10px;}
    #chainContainer{padding-top: 17%;}
}

/* 600px mobile size */
@media(max-width:600px)
{
    body
{
    overflow-x: hidden;
    overflow-y: scroll;
}
    .main{display: none;}

    /* main container start */
.mobile
{
    display: flex;
    flex-direction: column;
    background-color: #EEE9DA;
    padding: 10px 0px 30px;
}

.txt-box-cont h3, .ring-box-cont h3, .circle-box-cont h3 
{
    display: flex;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    color: rgba(27, 25, 25, 0.7);
}

/* horizontal line */
.line
{
    width: 100%;
    height: 2px;
    background-color: rgba(176, 174, 174, 0.295);
    margin: 5px 0 10px;
}

/* ring and box */
.mobile .mring-circle-box
{
    display: flex;
    flex-direction: column;
}

.txt-box-cont .txt-box, .ring-box-cont .ring-box, .circle-box-cont .circle-box
{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
}


/* center of body */
.body-center
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    margin-top: 15px;
}

/* left side images */
.body-center .left
{
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 241, 216);
    height: 350px;
    padding-right: 30px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/* .side_bar{
    padding-right: 20px; 
    margin-left: -12px;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll;

} */

.body-center .left .lft-img
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-center .left .lft-img div 
{  display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.body-center .left .lft-img img
{
    width: 100%;

}

.body-center .left .lft-img div .lftImg-1{width: 70%;}
.body-center .left .lft-img div .lftImg-2{width: 80%;}
.body-center .left .lft-img div .lftImg-3{width: 50%;}
.body-center .left .lft-img div .lftImg-4{width: 96%;}
.body-center .left .lft-img div .lftImg-5{width: 86%;}
.body-center .left .lft-img div .lftImg-6{width: 90%;}

/* middle image */
.mmiddle
{ 
    display: flex;
    position: relative;
    padding: 10px;
    margin-top: 10px;
}

 .mmiddle img 
{
    width: 100%;
    height: 100%;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
#chainContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 15%;
}
 #chain
{
    width: 65%;
    height: 65%;
    box-shadow: none;
    
}

/* right side images */
.body-center .right
{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    background-color: rgb(254, 241, 216);
    height: 350px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.body-center .right h3 
{
    font-family: 'Great Vibes', cursive;
    font-size: 34px;
    margin: 20px 0 20px 20px;
}

.body-center .right .rgt-img
{
    display: flex;
    width: 100%;
}

.body-center .right .rgt-img img
{
    width: 33.3%;
}
}

/* mobile sceen 425px */
@media(max-width:425px)
{
    #chainContainer{padding-top: 16%;}
    .body-center .left .lft-img div{width: 68px;height: 68px;}
    .body-center .right{padding-right: 0px;height: 300px;}
    .body-center .left{padding-right: 0px;height: 300px;}
    .body-center .right h3{font-size: 30px;margin: 20px 0 20px 0px;text-align: center;}
}

/* mobile sceen 375px */
@media(max-width:375px)
{
    .body-center .left .lft-img div{width: 65px;height: 65px;}
    .body-center .right h3{font-size: 28px;}
}

/* mobile sceen 320px */
@media(max-width:320px)
{
    .body-center .left .lft-img div{width: 60px;height: 60px;}
    .body-center .right h3{font-size: 26px;}
}


